@font-face {
    font-family: "My Custom Font";
    src: url(http://www.example.org/mycustomfont.ttf) format("truetype");
}
body {
  background-image: url("static/background_form.png"); /* The image used */
  background-color: #EBEBD3; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.grid-container {
  background-color: #ffc145;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5%;
  border: 3px solid #ebebd3;
  width: 80%; 
  height:90%;
  position: center;
  font-family: 'Major Mono Display', monospace;
  
  display: grid;
  grid-template-columns: 7.5% 40% 40% 7.5%;
  grid-template-rows: 7.5% 60% 20% 7.5%;
  grid-gap: 15px;
  justify-items: center;
  align-items: center;
}

.close {
	grid-column: 4/5;
	grid-row: 1/2;
	text-align: left;
}
.snap {
	text-align: center;
	grid-column: 2/3;
	grid-row: 3/4;
}
#snap {
	
	border: 2px solid #083d77;
	box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
	color: #083d77;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	background: #ebebd3;
	font-family: inherit;
	font-size: inherit;
	grid-row: 3/4;
	grid column: 2/3;
}
#snap:hover {
	background: #a97cc1;
}
.video {
	grid-row: 2/3;
	grid-column: 2/3;
}
#video {
	max-width: 100%;    
    height: 100%; 
}
.canvas {
	border: 3px dotted #083d77;
	padding: 10px;
	grid-column: 3/4;
	grid-row: 2/3;
	max-height:100%;
	max-width:100%;
	
}
#canvas {
	max-height:100%;
	max-width:100%;
}
.question {
	/*position: relative;
	top: -300px;*/
	text-align: center;
	grid-column: 3/4;
	grid-row: 3/4;
}
#yes {
	border: 2px solid #083d77;
	box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
	color: #083d77;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	background: #a97cc1;
	font-family: inherit;
	font-size: inherit;
}
#no {
	border: 2px solid #083d77;
	box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
	color: #083d77;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
}

/* The Close Button */
.close {
  color: #083d77;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#form {
	text-align: center;
	font-family: 'Major Mono Display', monospace;
	font-size: 14pt;
	width: 100%;
}

#dest {
	height: 50px;
}
input[type="text"]
{
    font-family: 'Major Mono Display', monospace;
	background-color: #EBEBD3;
	height: 35px;
	width: 300px;
    font-size:14pt;
	color: #083d77;
	border-radius: 7.5px;
	border: 2px solid #083d77;
	margin-bottom: 15px;
	
}
input[type="date"] {
	font-family: 'Major Mono Display', monospace;
	background-color: #EBEBD3;
	width: 150px;
	height: 35px;
	font-size:12pt;
	color: #083d77;
	border-radius: 7.5px;
	border: 2px solid #083d77;
	margin-bottom: 15px;
}
textarea
{
    font-family: 'Major Mono Display', monospace;
	background-color: #EBEBD3;
	font-size: 12pt;
	color: #083d77;
	border-radius: 7.5px;
	border: 2px solid #083d77;
	
}

#fromLabel {
	font-size: 14pt;
}
#from {
	background-color: #EBEBD3;
	height: 35px;
	
}
#untilLabel {
	font-size: 14pt;
}
#until {
	background-color: #EBEBD3;
	height: 35px;
}


input[type=range] {
  -webkit-appearance: none;
  min-width: 200px;
  margin-top: 15px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  
  min-width: 200px;
  height: 33.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #ebebd3, 0px 0px 1px #f3f3e5;
  background: #083d77;
  border-radius: 10px;
  border: 3px solid #ebebd3;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 5.9px #EBEBD3, 0px 0px 1.8px rgba(243, 243, 229, 0.49);
  border: 2.9px solid rgba(235, 235, 211, 0.71);
  height: 32px;
  width: 34px;
  border-radius: 28px;
  background: #FFC145;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #083d77;
}
input[type=range]::-moz-range-track {
  
  min-width: 200px;
  height: 33.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #ebebd3, 0px 0px 1px #f3f3e5;
  background: #083d77;
  border-radius: 10px;
  border: 0px solid #ebebd3;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(235, 235, 211, 0.49), 0px 0px 1.8px rgba(243, 243, 229, 0.49);
  border: 2.9px solid rgba(235, 235, 211, 0.71);
  height: 32px;
  width: 34px;
  border-radius: 28px;
  background: rgba(255, 255, 204, 0.93);
  cursor: pointer;
}
input[type=range]::-ms-track {
  
  min-width: 200px;
  height: 33.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #083d77;
  border: 0px solid #ebebd3;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #ebebd3, 0px 0px 1px #f3f3e5;
}
input[type=range]::-ms-fill-upper {
  background: #083d77;
  border: 0px solid #ebebd3;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #ebebd3, 0px 0px 1px #f3f3e5;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(235, 235, 211, 0.49), 0px 0px 1.8px rgba(243, 243, 229, 0.49);
  border: 2.9px solid rgba(235, 235, 211, 0.71);
  height: 32px;
  width: 34px;
  border-radius: 28px;
  background: rgba(255, 255, 204, 0.93);
  cursor: pointer;
  height: 31.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #083d77;
}
input[type=range]:focus::-ms-fill-upper {
  background: #083d77;
}

#tipps{
	position: relative;
	bottom: 50px;
}
#story {
	position: relative;
	bottom: 25px;
}

#takePhoto {
	border: 2px solid #ebebd3;
	box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	bottom: -400px;
}

#upload {
	display: none;
}

#customUpload {
	border: 2px solid #ebebd3;
	box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	position: relative;
	bottom: -400px;
}


#generatePDF {
	border: 2px solid #083d77;
	box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
	width: 250px;
    display: inline-block;
    padding: 6px 12px;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
    cursor: pointer;
	position: relative;
	bottom: -550px;
}
#generatePDF:hover {
	background: #ffc145;
	transform: skew(-15deg);
}

#pics {
	position: relative;
	bottom: -100px;
	text-align: center;
}
img{
	border: 3px dotted #083d77;
	margin-left: 15px;
	margin-right: 15px;
}
