body {
  background-image: url("static/background_pdf.png"); /* The image used */
  background-color: #EBEBD3; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}